﻿@using CostSplit.Helpers;
@{ 
    var userId = CookiReader.getAllCookieData()?.userId;
}
<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-costSplit navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="buttonsOnNavbar">
                    @Html.ActionLink("Log Out", "Logout", "Users", null, new { @class = "navbar-brand navbar-navItem" })
                    @Html.ActionLink("Home", "Index", "Groups", new { area = "" }, new { @class = "navbar-brand navbar-navItem" })
                    @Html.ActionLink("Notifications", "Notification", "Users", new { userId = userId }, new { @class = "navbar-brand navbar-navItem" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>