﻿body {
    background-color: #CFE6E6;
}

.groupNames{
    background-color:white;
}

label{
    font-size:10px;
    text-align:left;

}

#buttonsForGroups{
    float:right;
    margin-left:-120px;
    margin:-90px;
    margin-right:-150px;
    color:white;
    background-color:darkgreen !important;
    border:none;
    text-decoration:none;
}
#buttonsForGroups:hover{
    background-color:darkgreen;
    text-decoration:none;
}

a{
    color:lightgray;
    text-decoration:none;
}
a:hover{
    text-decoration:none;
    color:greenyellow;
}

.backgrounForFullContent {
    border: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    padding-right: -100px;
    margin-bottom: 50px !important;
    padding: 10px !important;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}

.addGroupButton{
    border-radius:5px;
    border:none;
    color:white;
    background-color: lightseagreen;
    width:150px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:15px;
    text-align:center;
    vertical-align:central;
    padding:7px;
    transition:1s;
}
    .addGroupButton:hover {
        border-radius: 5px;
        border: none;
        color: white;
        background-color: darkgreen;
        width: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
        vertical-align: central;
        padding: 7px;
        transition:1s;
    }

