﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*navbar section*/
.navbar-costSplit {
    background-color: #ffffff;
    border-color: transparent;
    -moz-box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.navbar-navItem{
    color:lightgrey;
}