﻿@model IEnumerable<CostSplit.Models.TaskVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { groupId = ViewBag.groupId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.taskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.taskName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costs)
        </td>
        <th>
            @Html.ActionLink("Details", "Details", new { id = item.taskId }) | @Html.ActionLink("Edit", "Edit", new { id = item.taskId }) | @Html.ActionLink("Delete", "Delete", new { id = item.taskId })
        </th>
    </tr>
}
</table>
