﻿@model List<CostSplit.Models.UserVM>

<h4>Users in group</h4>

@foreach (var item in Model)
{
    <div>
        <label>@(item.firstName + " " + item.lastName) | @(item.userName)</label>
    </div>
}
