﻿@{
    Layout = null;
    ViewBag.Title = "Create";
}

@Html.ValidationSummary()

<div id="registerExample">
    <div class="container">
        <form action="/Users/Create" method="post">
            <input type="text" name="firstName" value="" placeholder="Enter First Name" /> <br />
            <input type="text" name="lastName" value="" placeholder="Enter Last Name" /><br />
            <input type="text" name="userName" value="" placeholder="Enter Username" /><br />
            <input type="password" name="userPassword" value="" placeholder="Enter Password" /><br />
            <a href="/Users/Index">Already have an account ? </a><br />
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

