﻿@{
    Layout = null;
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/Content/loginForm.css" rel="stylesheet" />

<div class="center-align">
    <div class="col-md-6 login-form-2">
        <h3>Login</h3>
        <form action="/Users/Login" method="post">
            <div class="form-group">
                <input style="text-align:center;" type="text" class="form-control" placeholder="Enter Username" value="" name="userName" />
            </div>
            <div class="form-group">
                <input style="text-align:center;" type="password" class="form-control" placeholder="Enter Password" value="" name="userPassword" />
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Login" />
            </div>
            <div class="form-group">
                <a href="/Users/Create" class="createBtn" value="Login">Register User</a>
            </div>
        </form>
    </div>
</div>
