﻿@model List<CostSplit.Models.UsersGroupsVM>

<h4>Users Pending for Group</h4>

@foreach (var item in Model)
{
    <div>
        <label>@(item.groupLeader) | @(item.groupName) </label>
        @Html.ActionLink("Accept" , "StatusChange","Users" , new { userGroupId = item.userGroupId , response = true }, new { @class = "btn btn-success"})
        @Html.ActionLink("Decline" , "StatusChange" , "Users" ,new { userGroupId = item.userGroupId , response = false} , new { @class = "btn btn-danger"})
    </div>
}