﻿@model CostSplit.Models.GroupCreateVM


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="/Groups/Create">
    <input type="text" name="groupName" value="" placeholder="Group Name"/>
    <button type="submit">Create</button>
</form>
