﻿@model CostSplit.Models.GroupVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.ActionLink("Invite Users", "Invite", "Users", new { groupId = Model.groupId }, new { @class = "btn btn-info" })

<div class="row">
    <div class="col-md-6">
        <h4>Groups</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.groupName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.groupName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.created_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.created_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.updated_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.updated_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.createdByUser)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.createdByUser)
            </dd>

        </dl>
    </div>

    <div class="col-md-6">
        @Html.Action("ListOfInvitedUsers", "Users", new { groupId = ViewBag.groupId })
    </div>
</div>

@Html.ActionLink("Tasks", "Index", "Tasks", new { groupId = Model.groupId }, new { @class="btn btn-primary" })

