﻿@model List<CostSplit.Models.GroupVM>

<link href="~/Content/groupIndex.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<style>
    .header {
        width: 80%;
        display: inline-block;
    }

    .content {
        width: 80%;
        display: inline-block;
    }

    .buttons {
        width: 19%;
        display: inline-block;
        color: black;
        border: none;
        text-decoration: none;
        text-align: right;
    }

        .buttons a {
            margin: 4px;
        }

    .row {
        margin: 0;
    }
</style>


<div style="margin-top:50px">

    <div class="row">
        <div style="margin-bottom:10px" class="addGroupButton">
            <a href="/Groups/Create">Add new group</a>
        </div>
    </div>

    <div class="row" style="margin-bottom:40px;">
        <!-- Search form -->
        <form class="form-inline md-form form-sm mt-0" style="position:relative;">
            <i class="glyphicon glyphicon-search" aria-hidden="true" style="position:absolute; top:8px; left:8px; color:grey;"></i>
            <input class="form-control form-control-sm ml-3" style="padding-left:25px;" type="text" placeholder="Search" aria-label="Search">
        </form>
    </div>

    @foreach (var group in Model)
    {
        <div class="row">
            <div class="mb-4 col-md-12 backgrounForFullContent">
                <div class="header">
                    <h1>@group.groupName</h1> <br />
                </div>
                <div class="content">
                    <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</label>
                </div>
                <div class="buttons">
                    @Html.ActionLink("Edit Group", "Edit", "Groups", new { id = group.groupId }, new { @class = "btn btn-sm btn-primary" }) <br />
                    @Html.ActionLink("Delete Group", "Delete", "Groups", new { id = group.groupId }, new { @class = "btn btn-sm btn-primary" }) <br />
                    @Html.ActionLink("Group Details", "Details", "Groups", new { id = group.groupId }, new { @class = "btn btn-sm btn-primary" }) <br />
                </div>
            </div>
        </div>
    }
</div>

